# Vite watcher configuration added by mix vite.install
config :<%= @app_name %>, <%= @web_module %>.Endpoint,
  watchers: [
    pnpm: [
      "vite",
      "serve",
      "--mode",
      "development",
      "--config",
      "vite.config.js",
      cd: Path.expand("../assets", __DIR__)
    ]
  ]
